<strong>Olá {{courier}}</strong>
<p>Você tem uma nova entrega pendente, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário:</strong> {{name}} <br />
  {{!-- <strong>Endereço:</strong> {{street}}, {{number}} <br />
  <strong>CEP:</strong> {{postalCode}} <br />
  <strong>Cidade:</strong> {{city}} <br />
  <strong>Estado:</strong> {{state}} <br />
  <br/> --}}
  <strong>Produto:</strong> {{product}} <br />

  Por favor retire o produto no balcão para efetuar a entrega.
  <br />

  <small>Caso ocorra algum problema na entrega nao esqueça de registrar o problema!</small>
</p>
